
<!-- <section class="container-fluid">
  <header>LIGOWO</header>
  <div class="row">
    <div class="col-md-6">
      <div class="page-header">
        <h1>Baw się ze znajomymi obstawiając wydarzenia sportowe</h1>
        <small>Tworz grupy, dodawaj i obstawiaj wyniki spotkań, awansuj w rankingu!</small>
        <button class="register" routerLink="/register">Zarejestruj się!</button>
      </div>
    </div>
    <div class="col-md-6">
        <app-login></app-login>
    </div>
  </div>
</section> -->
<section class="container-fluid">
  <div class="row">
    <div class="col-md-6 left">
      <div class="content">
        <div class="page-header">
          <h1>LIGOWO</h1>
          <small>Tworz grupy, dodawaj i obstawiaj wyniki spotkań, awansuj w rankingu!</small>
          <!-- <button class="register" routerLink="/register">Zarejestruj się!</button> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 right">
      <div class="content">
        <app-login></app-login>
      </div>
      <div class="register">
        <a routerLink="/register">Rejestracja</a>
      </div>
    </div>
  </div>
</section>
