@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';
.ranking{
  .header{
    padding-left: 20px !important;
  }
  .rank-panel{
    background-color:white ;
    display:flex;
    justify-content:space-between;
    .name, .rank{
      padding:10px 20px;
      font-size:13px;
    }
    .name{
      font-weight:bold;
      color:rgb(17, 0, 110);
    }
    .rank{
      border-left:2px solid rgb(212, 212, 212);
    }
  }
}
h1{
  text-align: center;
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  margin-top: -20px;
}
p{
  font-size:14px;
  font-weight:500;
  color:rgb(180, 180, 180);
  text-align:center;
}
.container{
  margin-bottom:20px;
  .header{
    @include small-medias(){
      text-align:center;
    }
    font-size: 15px;
    font-weight:bold;
    text-align: left;
    margin: 0 -15px 0 -15px;
    padding:7px;
  }
}
.new-user{
  input{
    width:100%;
    padding:10px;
    border:none;
  }
}
.match-group{
  h4{
    font-size: 20px;
    text-align:center;
  }
  background-color:white;
  padding:15px;
  .match-panel{
  display:flex;
  margin-bottom:1px;
  font-size: 14px;
  .name{
    margin-right: auto;
  }
  .name, .bet{
    padding:7px;
  }
  .bet-wrapper{
    border-left:none;
    button{
      cursor:pointer;
      background:whitesmoke;
      border:none;
      height:100%;
      width:30px;
      &:hover{
        background:$s-color;
        color:white;
      }
    }
  }

.fa-times{
  color:#ed1b24 !important;
  padding:10px;
}
.fa-check{
  color:#73ea14 !important;
  padding:10px;
}
.fa-minus{
  color:#c2c2c2 !important;
  padding:10px;
}

}
&:last-child{
  border-right:none;
}
}
#admin-panel-wrapper{
  z-index:9;
  &::-webkit-scrollbar {
    display: none;
}
  h4{
    text-align: left !important;
  }
  overflow: scroll;
  @include main-shadow();
  width: 600px;
  @include small-medias(){
    position: initial;
    width:100%;
    padding-top:0px;
    height:none;
    transform:none !important;
    height:auto !important;
  }
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  padding-top: 44px;
  background-color:white;
  #admin-panel{
    .admin-panel-element{
      padding:10px;
      h4{
        font-size:14px;
        color:white;
        padding:20px;
        background-color:$s-color;
        margin:-10px -10px 10px -10px;
        i{
          @include small-medias(){display:none}
          float:right;
        }
      }
      #newMatch{
        .form-group{
          margin-bottom: 4px;
        }
        input{
          font-size: 14px;
          text-align: center;
          width: 50%;
          border: none;
          border-bottom: 1px solid gray;
          &:focus{
            outline:none;
          }
          &#date, &#time{
            width:25%;
          }
        }
        button{
          width:100%;
          border:none;
          padding:7px;
        }
      }
      .confirm-admin{
        background:none;border:none;
        padding:10px;
        font-weight:600;
        margin-top:10px;
        font-size:14px;
        color:$f-color;
        display: block;
        margin-left: auto;
      }
    }
  }
}
