@import '../../scss/mixins.scss';

header{
  z-index: 1;
  position:relative;
  background-color:white;
  margin-bottom:20px;
  .container{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  #user-info, #group-title{
    padding:10px;
    font-family: 'Signika', sans-serif;
  }
  button{
    font-family: 'Signika', sans-serif;
    margin-left:10px;
    border:none;
    @include main-gradient();
    color:white;
    padding:3px 20px;
    font-size:14px;
    font-weight:bold;
    border-radius:30px;
  }
  i{
    padding-right:10px;
  }
  #group-title{
    font-weight:700;
  }
  }
  &:after{
    content:"";
    height:2px;
    @include main-gradient();
    width:100%;
    position:absolute;
    bottom:0;
    display:block;
  }
}
