<section class="container">
    <section class="group-box">
      <div class="group-section">GRUPY DO KTÓRYCH NALEŻYSZ</div>
      <div class="group-wrapper" #notOwner>
          <div class="group" *ngFor="let group of groups | forfilter:current_user.userId:'others'" (click)="openGroup(group)" >
            {{group.name}}
            <div class="play-c">Graczy: {{group.users.length}}</div>
          </div>
      </div>
      <p *ngIf="!notOwner.children.length">Brak grup</p>
    </section>
</section>
<section class="container">
    <section class="group-box">
      <div class="group-section">TWOJE GRUPY</div>
      <div class="group-wrapper group-box">
          <div class="group" *ngFor="let group of groups | forfilter:current_user.userId:'own'" (click)="openGroup(group)" >
            {{group.name}}
            <div class="play-c">Graczy: {{group.users.length}}</div>
          </div>
          <div class="group new-group" (click)="showNewGroupPanel()">
            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            <div [@slideTop]='new_group_panel' class="ngrform">
              <form>
                  <input  name="ngGroupName" [(ngModel)]="newGroupName" click-stop-propagation placeholder="Nazwa grupy" required>
                  <button click-stop-propagation (click)="addGroup()">DODAJ</button>
              </form>
            </div>
          </div>
      </div>
    </section>
</section>
