@import '/variables.scss';

@mixin main-gradient() {
  background: $s-color;
  background: -webkit-linear-gradient(to right, lighten($s-color,10%), lighten($s-color,5%), $s-color);
  background: linear-gradient(to right, lighten($s-color,10%), lighten($s-color,5%), $s-color);
}

@mixin main-shadow(){
  -webkit-box-shadow: 2px 2px 2px 0px #afafaf;
-moz-box-shadow: 2px 2px 2px 0px #afafaf;
box-shadow: 2px 2px 2px 0px #afafaf;
}

@mixin small-medias(){
    @media only screen and (max-width: 767px) { @content; }
}
@mixin l1024(){
  @media only screen and (max-width: 1025px) { @content; }
}