@mixin main-gradient() {
  background: #0052D4;
  background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
}

@mixin main-shadow(){
  -webkit-box-shadow: 2px 2px 2px 0px #afafaf;
-moz-box-shadow: 2px 2px 2px 0px #afafaf;
box-shadow: 2px 2px 2px 0px #afafaf;
}

@mixin small-medias(){
    @media only screen and (max-width: 767px) { @content; }
}