<section class="container">
  <form class="col-md-6 offset-md-3">
    <div class="form-group">
      <label >Nazwa użytkownika</label>
      <input type="text" class="form-control" placeholder="Wprowadź nazwę użytkownika">
    </div>
    <div class="form-group">
      <label >Adres email</label>
      <input type="email" class="form-control" placeholder="Wprowadź adres email">
    </div>
    <div class="form-group">
      <label >Hasło</label>
      <input type="password" class="form-control" placeholder="Hasło">
    </div>
    <button type="submit" class="btn btn-primary">Zarejestruj się!</button>
    <a routerLink="/login">Logowanie</a>
  </form>
</section>
